@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');

body{
	background-color: #eee;
}

.lib{
	font-family: 'Open Sans';
}

.lib.app-container{
	padding: 30px;
	width: 100%;
	max-width: 1200px;
	background-color: #fff;
	min-height: 100vh;
}

.lib.tab{
	padding: 20px;
	padding-top: 30px;
	display: none;
}

.lib.tab.active{
	display: block;
}

.lib.sidebar{
}

.lib.page-name{
	font-weight: 500;
	margin-bottom: 30px;
	font-size: 28px;
	line-height: 32px;
}

.lib.elements-navigation ul{
	margin-left: 0;
	padding-left: 0;
}

.lib.elements-navigation li{
	list-style: none;
	margin-bottom: 10px;
	font-size: 17px;
}

.lib.elements-navigation li a{
	text-decoration: none;
	color: #333;
	transition-duration: .2s;
	transition-property: color;
}

.lib.elements-navigation li a:hover,
.lib.elements-navigation li a.active{
	color: #C2185B;
}

.lib.elements-navigation li a:before{
	content: '> ';
	transition-duration: .2s;
	color: transparent;
	font-size: 0px;
}

.lib.elements-navigation li a.active:before{
	content: '> ';
	color: inherit;
	font-size: inherit;
}

.lib.tab-heading:before{
	content: '> ';
}

h1.lib.tab-heading,
h2.lib.tab-heading,
h3.lib.tab-heading{
	width: 100%;
	margin-top: 0;
	font-weight: normal;
	color: #880E4F;
}

h1.lib.tab-heading{
	padding-top: 0;
	padding-bottom: 30px;
	font-size: 30px;
}

h2.lib.tab-heading,
h3.lib.tab-heading{
	color: #AD1457;
}

h2.lib.tab-heading{
	font-size: 24px;
}

h3.lib.tab-heading{
	font-size: 20px;
}

.lib.tab .color-block{
	padding: 20px;
}

hr.lib{
	background-color: #888;
	height: 1px;
	border: 0;
	margin: 40px 0;
}